{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in:{{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
<main>
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>
    <ul>
        {% for w in weather %}
            <li>{{ w.dateandtime|date('d.m.Y') }}: {{ w.temperature }}&deg;C</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
